@import url('theme.css');

.slider-div {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.carousel-item {
  background-color: var(--accent-color);
  border-radius: 10% / 50%;
  color: var(--secondary-color);
}

.carousel-item-heading {
  color: var(--background-color);
  font: var(--heading-font);
  font-size: 2rem;
}

/* .carousel-item-heading:link { text-decoration: none; } */


.carousel-item-heading:visited { text-decoration: none; }


/* .carousel-item-heading:hover { text-decoration: none; } */


/* .carousel-item-heading:active { text-decoration: none; } */