@import url('https://fonts.googleapis.com/css?family=Chivo:400,700&display=swap');
@import url('theme.css');


.container {
    padding: 0rem;
    font:  var(--heading-font);
    background-color: var(--background-color);
    color: var(--accent-color);
}

.site-header {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: row;
    text-align: center;
    font: var(--heading-font);
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    width: 75px;
    height: 75px;
    margin-left: 50px;
    margin-top: 20px;
}

.heading {
    text-align: center;
    font: var(--heading-font);
    color: var(--secondary-color);
    font: var(--heading-font);
    font-size: 10%;

}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px ;
    width: 70%;
    list-style: none;
}

.nav-link-item {
    padding-right: 2.5%;
}

.nav-link-text {
    color: white;
    font: var(--heading-font);
}

.nav-link-text:link { text-decoration: none; }


.nav-link-text:visited { text-decoration: none; }


.nav-link-text:hover { text-decoration: none; }


.nav-link-text:active {
    text-decoration: none;
    color: var(--secondary-color);
}

.main {
    margin-bottom: 2rem;
    font: var(--body-font);
}

.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: .5rem;
    text-align: center;
}

.child-content {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:auto;
    background-color: var(--background-color);
}