:root {
  --primary-color: #77D4FC;
  --secondary-color:  #AF3800;
  --accent-color: #C9ADA7;
  --background-color: #3A3335;
  --body-font: 'Chivo', sans-serif;
  --heading-font: 'Chivo Bold', sans-serif;
}
