/* CSS HEX
--cambridge-blue: #7bae7fff;
--celadon: #95d7aeff;
--lavender-blush: #fceff9ff;
--silver-lake-blue: #7392b7ff;
--hunter-green: #3a5743ff; */



.container {
    margin: auto;
    /* max-width: 500px; */
    font-family:  sans-serif;
}

.site-title {
    text-align: center;
    font-size: 3rem;
    color: #3a5743ff;
    font-weight: 700;
    margin: auto;
}

.heading {
    text-align: center;
    color: #7bae7fff;
}

.nav-links {
    text-align: center;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.main {
    margin-bottom: 2rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #3a5743ff;
    color: white;
    line-height: .5rem;
    text-align: center;
  }