:root {
  --primary-color: #ff4057;
  --secondary-color: #DCDCDC;
  --accent-color: #DCDCDC;
  --background-color: #282634;
  --body-font: 'Chivo', sans-serif;
  --heading-font: 'Chivo Bold', sans-serif;
}
